body {
  background: #000;
}

h1 {
  color: #00dcff;
}

/*.tic-image {
  text-align: center;
}*/

/*.head-left {
  float: left;
  width: 49%;
}

.tic {
  padding-bottom: 75px;
}

.draft {
  padding-bottom: 75px;
}

.commerce {
  padding-top: 75px;
}

.cap {
  padding-top: 75px;
}*/
