body {
background-color: #f3f3f3;
}

footer {
  height: 10%;
}

h1 {
  color: #175b5f;
  text-align: center;
}

header {
  background-color: #ff7829;
  font-size: 40px;
  padding: 100px;
  text-align: center;
  }

.headings {
  color: #175b5f;
  text-align: center;
}

.row {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.row-odd {
  float: left;
  width: 49%;
}
