body {
  background-color: #bef1f1;
}

footer {
  height: 10%;
}

h1 {
  color: #175b5f;
  text-align: center;
}

header {
  background-color: #000;
  margin: 0 auto;
}

.headings {
  color: #175b5f;
  text-align: center;
}

.row {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.row-odd {
  float: left;
  width: 49%;
}
